<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-personne-heading" jhiTranslate="sandboxApp.personne.home.createOrEditLabel">Create or edit a Personne</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sandboxApp.personne.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sandboxApp.personne.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sandboxApp.personne.dateDeNaissance" for="field_dateDeNaissance">Date De Naissance</label>
                    <div class="d-flex">
                        <input id="field_dateDeNaissance" type="datetime-local" class="form-control" name="dateDeNaissance" formControlName="dateDeNaissance" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateDeNaissance')!.invalid && (editForm.get('dateDeNaissance')!.dirty || editForm.get('dateDeNaissance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateDeNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateDeNaissance')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sandboxApp.personne.taille" for="field_taille">Taille</label>
                    <input type="number" class="form-control" name="taille" id="field_taille"
                           formControlName="taille"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sandboxApp.personne.couleurYeux" for="field_couleurYeux">Couleur Yeux</label>
                    <select class="form-control" name="couleurYeux" formControlName="couleurYeux" id="field_couleurYeux">
                        <option value="BLEU">{{ 'sandboxApp.Couleur.BLEU' | translate }}</option>
                        <option value="VERT">{{ 'sandboxApp.Couleur.VERT' | translate }}</option>
                        <option value="MARRON">{{ 'sandboxApp.Couleur.MARRON' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
